Source Code/Source code.json
[{"id":"68814414.3cbc2c","type":"tab","label":"send weather via sms","disabled":false,"info":""},{"id":"1cd40437.661a4c","type":"tab","label":"Make an entry of items","disabled":false,"info":""},{"id":"b65af789.69a438","type":"tab","label":"Retrieve total kg from cloudant","disabled":false,"info":""},{"id":"5e732654.dcb048","type":"tab","label":"Site","disabled":false,"info":""},{"id":"d45c7e97.838ea","type":"cloudant","host":"https://061031e7-47ac-4267-aedc-e16565c78287-bluemix.cloudant.com/","name":"db"},{"id":"2cc71bc7.584ab4","type":"twilio-api","name":"","sid":"ACdea9580323f63f931e105f1bd799e5e5","from":"+12016854227"},{"id":"1fe45efd.4bb341","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b5048801.53c328","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9b2c64a.7146a98","type":"ui_group","name":"Daily Entry","tab":"b5048801.53c328","order":1,"disp":true,"width":"7","collapse":false},{"id":"eb358435.f65db8","type":"ui_tab","name":"COVID Voice Chatbot","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"131176de.02eba9","type":"ui_tab","name":"Storage capacity","icon":"dashboard","disabled":false,"hidden":false},{"id":"72db61e1.78697","type":"ui_group","name":"Total Capacity of Storage","tab":"131176de.02eba9","order":1,"disp":true,"width":"6","collapse":false},{"id":"15495830.b17cd8","type":"ui_tab","name":"Daily Report","icon":"dashboard","disabled":false,"hidden":false},{"id":"1f41ef8e.7d3f5","type":"ui_group","name":"Daily crop report for farmers","tab":"15495830.b17cd8","order":1,"disp":true,"width":"9","collapse":false},{"id":"39f47827.b2f348","type":"ui_tab","name":"Profit Loss dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"ad1322aa.6006","type":"ui_group","name":"","tab":"39f47827.b2f348","order":1,"disp":true,"width":"6","collapse":false},{"id":"7c963e06.5ab96","type":"ui_tab","name":"Bank dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"df873006.b8bac","type":"ui_group","name":"Entries","tab":"7c963e06.5ab96","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1b11140.4e4ef","type":"inject","z":"68814414.3cbc2c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Get set go","payloadType":"str","x":110,"y":120,"wires":[["58be2908.d8b658"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"68814414.3cbc2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":140,"wires":[]},{"id":"6c5fb291.b6eacc","type":"template","z":"68814414.3cbc2c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Today' temperature in {{payload.location}} {{payload.tempc}}*C {{payload.weather}}","output":"str","x":580,"y":220,"wires":[["f2f2649a.0d0d98","5f327c32.9c1af4","242a502.c4238b"]]},{"id":"5f327c32.9c1af4","type":"cloudant out","z":"68814414.3cbc2c","name":"","cloudant":"","database":"snsweatheringest","service":"node-red-2021-07-26-cloudant-1627282515058-66306","payonly":false,"operation":"insert","x":1030,"y":300,"wires":[]},{"id":"8ad41ef9.bb4e7","type":"cloudant out","z":"1cd40437.661a4c","name":"","cloudant":"d45c7e97.838ea","database":"snsweatheringest","service":"node-red-2021-07-26-cloudant-1627282515058-66306","payonly":false,"operation":"insert","x":890,"y":120,"wires":[]},{"id":"242a502.c4238b","type":"twilio out","z":"68814414.3cbc2c","twilio":"2cc71bc7.584ab4","twilioType":"sms","url":"https://demo.twilio.com/welcome/voice/","number":"+917506912498","name":"","x":1010,"y":220,"wires":[]},{"id":"f7106a81.283af8","type":"ui_form","z":"1cd40437.661a4c","name":"","label":"","group":"9b2c64a.7146a98","order":2,"width":"4","height":"4","options":[{"label":"Name","value":"name","type":"text","required":false,"rows":null},{"label":"kg","value":"kg","type":"number","required":false,"rows":null},{"label":"Contact","value":"contactno","type":"number","required":false,"rows":null},{"label":"Date ","value":"date","type":"date","required":false,"rows":null},{"label":"Rice","value":"rice","type":"checkbox","required":false,"rows":null},{"label":"Wheat","value":"wheat","type":"checkbox","required":false,"rows":null}],"formValue":{"name":"","kg":"","contactno":"","date":"","rice":false,"wheat":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":470,"y":120,"wires":[["387cd164.99bfee","8ad41ef9.bb4e7"]]},{"id":"387cd164.99bfee","type":"ui_toast","z":"1cd40437.661a4c","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Data is submitted successfully","name":"notify","x":750,"y":200,"wires":[]},{"id":"58be2908.d8b658","type":"openweathermap","z":"68814414.3cbc2c","name":"","wtype":"current","lon":"79.07542840416664","lat":"12.227091371632243","city":"","country":"","language":"en","x":320,"y":120,"wires":[["6c5fb291.b6eacc"]]},{"id":"61db7b8.1afa184","type":"inject","z":"b65af789.69a438","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":120,"wires":[["d0bd6cde.10b63","6cfbf744.6803c8","146a3812.788be8","c2d6fb04.6f4de8"]]},{"id":"3cbeba55.a60496","type":"debug","z":"b65af789.69a438","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":120,"wires":[]},{"id":"d0bd6cde.10b63","type":"cloudant in","z":"b65af789.69a438","name":"","cloudant":"d45c7e97.838ea","database":"snsweatheringest","service":"node-red-2021-07-26-cloudant-1627282515058-66306","search":"_all_","design":"","index":"","x":470,"y":120,"wires":[["aed74991.6681a8"]]},{"id":"aed74991.6681a8","type":"json","z":"b65af789.69a438","name":"","property":"payload","action":"obj","pretty":true,"x":670,"y":120,"wires":[["e9383464.800a88"]]},{"id":"e9383464.800a88","type":"function","z":"b65af789.69a438","name":"","func":"var sms=msg.payload;\nvar count=0;\nfor(var i=0;i<sms.length;i++)\n{\ncount=count+sms[i].payload.kg;\n}\nmsg.payload=count;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":80,"wires":[["25dfb388.5b23ac"]]},{"id":"138638ed.0faf47","type":"ui_gauge","z":"b65af789.69a438","name":"","group":"72db61e1.78697","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"kg","format":"{{msg.payload}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":520,"wires":[]},{"id":"146a3812.788be8","type":"cloudant in","z":"b65af789.69a438","name":"","cloudant":"d45c7e97.838ea","database":"transport_qty","service":"node-red-2021-07-26-cloudant-1627282515058-66306","search":"_all_","design":"","index":"","x":450,"y":300,"wires":[["41e5d863.3dfc58"]]},{"id":"41e5d863.3dfc58","type":"json","z":"b65af789.69a438","name":"","property":"payload","action":"obj","pretty":true,"x":670,"y":300,"wires":[["b9c52bd.1b93dd8"]]},{"id":"b9c52bd.1b93dd8","type":"function","z":"b65af789.69a438","name":"","func":"var sms=msg.payload;\nvar count=0;\nfor(var i=0;i<sms.length;i++)\n{\ncount=count+sms[i].payload.transport_qty;\n}\nmsg.payload=count;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":260,"wires":[["2a76f39f.6edabc","bed509f3.4620f8"]]},{"id":"2a76f39f.6edabc","type":"debug","z":"b65af789.69a438","d":true,"name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":300,"wires":[]},{"id":"1b8b0aaf.963655","type":"ui_form","z":"1cd40437.661a4c","name":"","label":"","group":"72db61e1.78697","order":1,"width":"0","height":"0","options":[{"label":"Transport qty","value":"transport_qty","type":"number","required":true,"rows":null},{"label":"Date","value":"date2","type":"date","required":false,"rows":null}],"formValue":{"transport_qty":"","date2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":470,"y":340,"wires":[["f0ddd9a3.175ee8"]]},{"id":"f0ddd9a3.175ee8","type":"cloudant out","z":"1cd40437.661a4c","name":"","cloudant":"d45c7e97.838ea","database":"transport_qty","service":"node-red-2021-07-26-cloudant-1627282515058-66306","payonly":false,"operation":"insert","x":750,"y":340,"wires":[]},{"id":"dc345ce.1e035a","type":"comment","z":"1cd40437.661a4c","name":"save daily entry","info":"","x":310,"y":80,"wires":[]},{"id":"e112a14.2f2d36","type":"comment","z":"1cd40437.661a4c","name":"save transport entry","info":"","x":330,"y":260,"wires":[]},{"id":"25dfb388.5b23ac","type":"function","z":"b65af789.69a438","name":"","func":"global.set(\"a\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":200,"wires":[[]]},{"id":"912d77d1.18b568","type":"debug","z":"b65af789.69a438","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":440,"wires":[]},{"id":"6cfbf744.6803c8","type":"function","z":"b65af789.69a438","name":"","func":"ab=global.get(\"a\")\ncd=global.get(\"b\");\nabc=ab-cd;\n\nreturn {payload:abc}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":520,"wires":[["912d77d1.18b568","138638ed.0faf47"]]},{"id":"bed509f3.4620f8","type":"function","z":"b65af789.69a438","name":"","func":"global.set(\"b\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":380,"wires":[[]]},{"id":"ae3a951d.df4988","type":"comment","z":"b65af789.69a438","name":"Stored capacity","info":"","x":100,"y":60,"wires":[]},{"id":"5027c831.14d9d8","type":"comment","z":"b65af789.69a438","name":"Transported capactiy","info":"","x":120,"y":240,"wires":[]},{"id":"e82a942c.874198","type":"comment","z":"b65af789.69a438","name":"After transportation capacity","info":"","x":140,"y":460,"wires":[]},{"id":"6a373e9e.9b48b","type":"ui_text","z":"b65af789.69a438","group":"72db61e1.78697","order":1,"width":"4","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":760,"wires":[]},{"id":"82a72b41.e61898","type":"inject","z":"b65af789.69a438","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Get set go","payloadType":"str","x":210,"y":640,"wires":[["c2d6fb04.6f4de8"]]},{"id":"966654a0.7e4228","type":"debug","z":"b65af789.69a438","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":660,"wires":[]},{"id":"d6a99d84.fb26a","type":"template","z":"b65af789.69a438","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Today' temperature in {{payload.location}} {{payload.tempc}}*C {{payload.weather}}","output":"str","x":720,"y":740,"wires":[["966654a0.7e4228","6a373e9e.9b48b"]]},{"id":"c2d6fb04.6f4de8","type":"openweathermap","z":"b65af789.69a438","name":"","wtype":"current","lon":"79.07542840416664","lat":"12.227091371632243","city":"","country":"","language":"en","x":460,"y":640,"wires":[["d6a99d84.fb26a"]]},{"id":"c56c6f43.72c89","type":"ui_form","z":"1cd40437.661a4c","name":"","label":"","group":"1f41ef8e.7d3f5","order":1,"width":"0","height":"0","options":[{"label":"Crop type","value":"croptype","type":"text","required":true,"rows":null},{"label":"Price","value":"price","type":"number","required":true,"rows":null},{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Locality","value":"locality","type":"text","required":true,"rows":null}],"formValue":{"croptype":"","price":"","date":"","locality":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":470,"y":520,"wires":[["6819d651.055988","63fc1e23.cdc64"]]},{"id":"85d50e74.f10f4","type":"debug","z":"1cd40437.661a4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":620,"wires":[]},{"id":"301c93a2.6e285c","type":"twilio out","z":"1cd40437.661a4c","d":true,"twilio":"2cc71bc7.584ab4","twilioType":"sms","url":"https://demo.twilio.com/welcome/voice/","number":"+917506912498","name":"Daily report to farmers","x":1020,"y":540,"wires":[]},{"id":"6819d651.055988","type":"ui_toast","z":"1cd40437.661a4c","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Report sent to farmers successfully","name":"","x":720,"y":600,"wires":[]},{"id":"63fc1e23.cdc64","type":"template","z":"1cd40437.661a4c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"crop type: {{payload.croptype}}\nprice    : {{payload.price}}\nDate     : {{payload.date}}\nLocality : {{payload.locality}}","output":"str","x":700,"y":520,"wires":[["85d50e74.f10f4","301c93a2.6e285c","23ca010f.bb2e7e"]]},{"id":"20a69816.4cf858","type":"comment","z":"1cd40437.661a4c","name":"Daily report","info":"","x":330,"y":420,"wires":[]},{"id":"23ca010f.bb2e7e","type":"cloudant out","z":"1cd40437.661a4c","name":"daily price of crops","cloudant":"d45c7e97.838ea","database":"dailyprice","service":"node-red-2021-07-26-cloudant-1627282515058-66306","payonly":false,"operation":"insert","x":1030,"y":460,"wires":[]},{"id":"64b02908.17f538","type":"inject","z":"b65af789.69a438","name":"","props":[{"p":"payload.transport_qty","v":"","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","x":170,"y":300,"wires":[["146a3812.788be8"]]},{"id":"cc8b189a.63a578","type":"ui_form","z":"1cd40437.661a4c","name":"","label":"","group":"ad1322aa.6006","order":1,"width":"0","height":"0","options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Selling price","value":"sprice","type":"number","required":true,"rows":null},{"label":"Cost price","value":"cprice","type":"number","required":true,"rows":null},{"label":"Locality","value":"locality","type":"text","required":true,"rows":null},{"label":"Quantity","value":"qty","type":"number","required":true,"rows":null},{"label":"Phone number","value":"mobile","type":"number","required":true,"rows":null}],"formValue":{"name":"","sprice":"","cprice":"","locality":"","qty":"","mobile":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":470,"y":740,"wires":[["3cbaf81.f314908","d4ee3f1d.0decd","f4bffdc2.f87c5"]]},{"id":"3cbaf81.f314908","type":"cloudant out","z":"1cd40437.661a4c","name":"","cloudant":"d45c7e97.838ea","database":"profit","service":"node-red-2021-07-26-cloudant-1627282515058-66306","payonly":false,"operation":"insert","x":750,"y":720,"wires":[]},{"id":"d4ee3f1d.0decd","type":"function","z":"1cd40437.661a4c","name":"","func":"var data=msg.payload;\nvar price=data.sprice-data.cprice;\nvar profit=price*data.qty;\nmsg.payload=profit;\nglobal.set(\"name\",msg.payload.name);\nname=global.get(\"name\")\nglobal.set(\"profit\",profit)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":800,"wires":[["c377cbf7.e7b398"]]},{"id":"c377cbf7.e7b398","type":"debug","z":"1cd40437.661a4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":760,"wires":[]},{"id":"f4bffdc2.f87c5","type":"function","z":"1cd40437.661a4c","name":"","func":"global.set(\"name\",msg.payload.name);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":680,"wires":[[]]},{"id":"1e0841f1.ac68fe","type":"http in","z":"5e732654.dcb048","name":"","url":"/mysite","method":"get","upload":false,"swaggerDoc":"","x":330,"y":200,"wires":[["4c783328.03dc2c"]]},{"id":"5de0bbd4.6c8574","type":"http in","z":"5e732654.dcb048","name":"","url":"/mysitepost","method":"post","upload":false,"swaggerDoc":"","x":350,"y":400,"wires":[["80321000.f2dc5","e492125e.3c4d3","75913f37.78e6e"]]},{"id":"4c783328.03dc2c","type":"function","z":"5e732654.dcb048","name":"msg.url = \"mysitepost\";","func":"msg.url = \"mysitepost\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["b2f5bdf9.e09f1"]]},{"id":"80321000.f2dc5","type":"debug","z":"5e732654.dcb048","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":400,"wires":[]},{"id":"b2f5bdf9.e09f1","type":"template","z":"5e732654.dcb048","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":570,"y":300,"wires":[["f3b55ea2.f4d51"]]},{"id":"d2c0bc2a.05a02","type":"http response","z":"5e732654.dcb048","name":"","statusCode":"","headers":{},"x":1010,"y":300,"wires":[]},{"id":"f3b55ea2.f4d51","type":"template","z":"5e732654.dcb048","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n \n<head>\n    <title>Customer Registration</title>\n \n    <style>\n        body {\n            background-image: url('https://images.unsplash.com/photo-1567306295427-94503f8300d7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmFybWVycyUyMG1hcmtldHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');\n            background-position: right;\n            background-repeat: no-repeat;\n            background-size: 800px 800px;\n            background-color:lightgreen;\n        }\n \n        /*.GeneralInfo {\n            float: none;\n        }*/\n \n        /*table {\n            width: 50%;\n        }*/\n \n        tr {\n            height: 30px;\n        }\n \n        .moveright{\n            text-align: right;\n        }\n        h2{\n            text-align: center;  \n         \n            width: 400px;  \n            height: 10px;  \n            padding-top: 30px; \n            padding-left: 50px; \n        }\n        .submitbutton{\n           margin-left: 200px;\n        }\n    </style>\n</head>\n \n<body>\n   \n    <form method=\"post\" name=\"makeentry\" id=\"myform\" action=\"/{{url}}\" ajax=\"true\">>\n        <br />\n        <h2>UK Region</h2>\n        <h2>Farmer Registration</h2> <br />\n        <!--    <div class=\"GeneralInfo\">\n        Name : <input type=\"text\" name=\"cname\" placeholder=\"Name of Customer\" required />\n        <label for=\"croptype\">Crop Type : </label>\n \n        <select name=\"croptype\" id=\"ct\">\n            <option value=\"rice\" selected=\"selected\">Rice</option>\n            <option value=\"wheat\">Wheat</option>\n        </select>\n \n        Kgs : <input type=\"number\" name=\"weight\" placeholder=\"Enter the Total Kgs\" required />\n        Contact : <input type=\"number\" name=\"cphone\" placeholder=\"Enter the Contact Phone\" required />\n        Country Code : <input type=\"number\" name=\"cc\" required />\n    </div> <br /><br />\n-->\n        <table cellspacing=\"25\">\n            <tr>\n                <td class=\"moveright\">Name </td>\n                <td><input type=\"text\" name=\"cname\" placeholder=\"Name of Customer\" required /></td>\n            </tr>\n            <tr>\n                <td class=\"moveright\"><label for=\"croptype\">Crop Type </label></td>\n                <td>\n                    <select name=\"croptype\" id=\"ct\">\n                        <option value=\"rice\" selected=\"selected\">Rice</option>\n                        <option value=\"wheat\">Wheat</option>\n                    </select>\n                </td>\n            </tr>\n            <tr>\n                <td class=\"moveright\">Kgs </td>\n                <td><input type=\"number\" name=\"weight\" placeholder=\"Enter the Total Kgs\" required /></td>\n            </tr>\n            <tr>\n                <td class=\"moveright\">Contact </td>\n                <td><input type=\"phone\" name=\"cphone\" placeholder=\"Enter the Contact Phone\" required /></td>\n            </tr>\n            <tr>\n                <td class=\"moveright\">Country Code </td>\n                <td><input type=\"number\" name=\"cc\" required /></td>\n            </tr>\n        </table>\n        <br />\n        <input type=\"submit\" value=\"Submit\" onClick=\"myFunction()\" class=\"submitbutton\" />\n    </form>\n</body>\n<script>\nfunction myFunction() {\nalert(\"hi\");\n  setTimeout(function(){\n    document.getElementById(\"myform\").reset();\n}, 3000);\n}\n    \n</script>\n&emsp;\n \n</html>","x":870,"y":300,"wires":[["d2c0bc2a.05a02"]]},{"id":"e492125e.3c4d3","type":"cloudant out","z":"5e732654.dcb048","name":"","cloudant":"d45c7e97.838ea","database":"sitedb","service":"node-red-2021-07-26-cloudant-1627282515058-66306","payonly":true,"operation":"insert","x":550,"y":480,"wires":[]},{"id":"75913f37.78e6e","type":"json","z":"5e732654.dcb048","name":"","property":"payload","action":"str","pretty":true,"x":550,"y":360,"wires":[["389c8806.5b0718"]]},{"id":"66b7706a.a26c9","type":"function","z":"1cd40437.661a4c","name":"","func":"name=global.get(\"name\");\nprofit=global.get(\"profit\");\nvar result=name+\"\"+profit;\nmsg.payload=result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":860,"wires":[["c377cbf7.e7b398"]]},{"id":"389c8806.5b0718","type":"http response","z":"5e732654.dcb048","name":"","statusCode":"","headers":{},"x":710,"y":360,"wires":[]},{"id":"74e76964.4f2768","type":"comment","z":"68814414.3cbc2c","name":"Daily Weather report","info":"","x":140,"y":60,"wires":[]},{"id":"95019866.4879f8","type":"comment","z":"1cd40437.661a4c","name":"Profit calculation","info":"","x":370,"y":680,"wires":[]},{"id":"e3be1413.d15538","type":"ui_text","z":"1cd40437.661a4c","group":"df873006.b8bac","order":0,"width":0,"height":0,"name":"","label":"Profit ","format":"Name:abc profit: 5000","layout":"row-spread","x":1030,"y":840,"wires":[]}]